<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <permission android:name="com.flame.pemission" />

    <uses-permission android:name="com.flame.pemission" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.flame.MyApplication"
        android:allowBackup="true"
        android:label="@string/accessibility_custom_off"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.flame.ui.ActCamera" />

        <service android:name=".LocalService" />

        <activity
            android:name="com.flame.ui.MainActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.flame.ui.Xfermodes"
            android:parentActivityName="com.flame.ui.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flame.ui.MainActivity" />
            >
        </activity>
        <activity
            android:name="com.flame.ui.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <receiver android:name="com.flame.NotificationReceiver">
            <intent-filter>
                <action android:name="action_dismiss"></action>
                <action android:name="action_click"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>